@model IEnumerable<Domain.Entities.Product_Entity>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    @foreach(var a in Model)
    {
        <tr>
            <td>@a.Id</td>
            <td>@a.Name</td>
        </tr>
    }
</table>
