@model Domain.Models.MenuQuanTri


<div class="table-responsive invoice-table custom-scrollbar" id="table">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td class="item">
                    <h6 class="p-2 mb-0">Trường giá trị</h6>
                </td>
                <td class="Hours">
                    <h6 class="p-2 mb-0">Nội dung</h6>
                </td>

            </tr>
            <tr>
                <td>
                    <label>Id</label>
                </td>
                <td>
                    <p class="itemtext">@Model.Id</p>
                </td>

            </tr>
            
            @if (!string.IsNullOrEmpty(Model.CreatedByText))
            {
                <tr>
                    <td>
                        <label>Người tạo</label>
                    </td>
                    <td>
                        <p class="itemtext">@Model.CreatedByText</p>
                    </td>

                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.LastModifiedByText))
            {
                <tr>
                    <td>
                        <label>Người sửa cuối</label>
                    </td>
                    <td>
                        <p class="itemtext">@Model.LastModifiedByText</p>
                    </td>

                </tr>
            }

           

        </tbody>
    </table>
</div>
