<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="CoongVM-SIMAX">
    <link rel="apple-touch-icon" sizes="180x180" href="~/202404/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/202404/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/202404/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/202404/images/favicons/site.webmanifest">



    <title>Phần mềm quản lý công việc phòng sharepoint</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
          integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Plugins css start-->
    <link type="text/css" href="~/202404/css/vendors/date-picker.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/202404/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/202404/css/vendors/datatables.css">
    <link rel="stylesheet" type="text/css" href="/202404/css/vendors/flatpickr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel=" stylesheet" type="text/css" href="/202404/css/vendors/bootstrap.css">
    <link href="~/202404/css/vendors/tree.css" rel="stylesheet" />
    <link href="~/202404/js/flat-pickr/css/flatpickr.min.css" rel="stylesheet" />
    <link href="~/202404/css/vendors/calendar.css" rel="stylesheet" />
    <link href="~/202404/js/sieditor/core.css" rel="stylesheet" />
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="/202404/css/style.css">
    <link rel="stylesheet" type="text/css" href="/202404/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/202404/css/customForMySites.css">


    <script src="~/202404/js/jquery.min.js"></script>
    <script src="/permissions.js"></script>

</head>

<body>

    <div class="loader-wrapper">
        <div class="loader">
            <div class="loader4"></div>
        </div>
    </div>
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        @await Component.InvokeAsync("_Header")
        <div class="page-body-wrapper">
            @await Component.InvokeAsync("_Sidebar");
            <div class="page-body">
                @RenderBody()
            </div>
            @await Component.InvokeAsync("_Footer")

        </div>
    </div>
    <script src="~/202404/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/202404/js/vendor/feather.min.js"></script>
    <script src="~/202404/js/vendor/feather-icon.js"></script>
    <script src="~/202404/js/vendor/simplebar.js"></script>
    <script src="~/202404/js/scrollbar/custom.js"></script>
    <script src="/202404/js/config.js"></script>
    <!-- Plugins JS start-->
    <script src="/202404/js/sidebar-menu.js"></script>
    <script src="~/202404/js/sidebar-pin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/202404/js/vendor/datepicker.js"></script>
    <script src="~/202404/js/vendor/datepicker.en.js"></script>

    <script src="~/202404/js/flat-pickr/js/flatpickr.js"></script>
    <script src="~/202404/js/flat-pickr/js/vn.js"></script>

    <script src="~/202404/js/si-utils.js"></script>
    <script src="~/202404/js/vendor/jquery.dataTables.min.js"></script>
    <script src="~/202404/js/vendor/tree.js"></script>
    <script src="~/202404/js/vendor/notify.js"></script>
    <script src="~/202404/js/calendar/fullcalendar.min.js"></script>


    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="/202404/js/script.js"></script>
    <script src="/202404/js/theme-customizer/customizer.js"></script>

    <script src="~/202404/js/sieditor/sieditor.js"></script>
    <script type="text/javascript" src="~/202404/js/vm_ultils.js"></script>
    <script type="text/javascript" src="~/notifications/notification-ultils.js"></script>
</body>

</html>