@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="~/202404/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/202404/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/202404/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/202404/images/favicons/site.webmanifest">

    <title>Phần mềm quản lý xe tải công ty thu phú</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
          integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Plugins css start-->
    <link type="text/css" href="~/202404/css/vendors/date-picker.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/202404/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/202404/css/vendors/datatables.css">
    <link rel="stylesheet" type="text/css" href="/202404/css/vendors/flatpickr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel=" stylesheet" type="text/css" href="/202404/css/vendors/bootstrap.css">
    <link href="~/202404/css/vendors/tree.css" rel="stylesheet" />
    <link href="~/202404/js/flat-pickr/css/flatpickr.min.css" rel="stylesheet" />
    <link href="~/202404/css/vendors/calendar.css" rel="stylesheet" />
    <link href="~/202404/js/sieditor/core.css" rel="stylesheet" />
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="/202404/css/style.css">
    <link rel="stylesheet" type="text/css" href="/202404/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/202404/css/customForMySites.css">


    <script src="~/202404/js/jquery.min.js"></script>
    @*     <script src="/permissions.js"></script>
    *@
</head>
<body>
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- error-500 start-->
        <div class="error-wrapper">
            <div class="container">
                <img class="img-100" src="~/202404/images/sad.png" alt="">
                <div class="error-heading">
                    <h2 class="headline font-primary">500</h2>
                </div>
                <div class="col-md-8 offset-md-2">
                    <p class="sub-content">Bạn không có quyền truy cập trang này. Vui lòng quay lại trang chủ !!!</p>
                </div>
                <div><a class="btn btn-primary btn-lg" href="/chuyen/index">Quay lại trang chủ</a></div>
            </div>
        </div>
        <!-- error-500 end-->
    </div>
</body>
</html>